body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #999966;
  }
  
  header {
    background: #999966;
    color: rgb(255, 255, 255); /* Color of words inside header (My name) */
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    border-bottom: 1px solid #ccc;
  }
  
  section:last-of-type {
    border-bottom: none;
  }
  
  .project {
    margin-bottom: 1rem;
  }
  
  footer {
    background: #555;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
  }
  .resume-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #999966;
    color: white;
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition for smooth hover effect */
  }
  
  .resume-button:hover {
    background-color: #7b7b51;
    transform: scale(1.05); /* Slightly grow the button */
  }
  
  
  